@import 'variables';

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: max-content;
    gap: 24px;

    @media screen and (max-width: $normal) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
