@import 'variables';

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px;
    border-radius: 12px;
    background-color: $background-secondary;

    &[data-image-pos='right'] {
        flex-direction: row-reverse;
    }

    @media screen and (max-width: $tablet) {
        &,
        &[data-image-pos='right'] {
            flex-direction: column;
        }
    }
}

.image {
    border-radius: 8px;

    @media screen and (max-width: $mobile) {
        width: calc(100% - 12px);
        height: auto;
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    max-width: 580px;
}
