@import 'variables';

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    a {
        transition: $transition;
        text-decoration: none;
        color: $foreground-primary;
    }

    a:hover {
        color: $foreground-secondary;
    }
}
