@import 'variables';

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    gap: 24px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    a {
        transition: $transition;
        text-decoration: none;
        color: $foreground-primary;
    }

    a:hover {
        color: $foreground-secondary;
    }
}
