@import 'variables';

.waterfall {
    column-count: 3;
    column-gap: 8px;

    img {
        width: 100%;
        height: auto;
        break-inside: avoid;
    }

    @media screen and (max-width: $tablet) {
        column-count: 2;
    }
}
