.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catButton {
    background: transparent;
}
