@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: $header-height;
    background-color: $background-primary;
    color: $foreground-primary;
}

main {
    padding: 16px;
    flex-grow: 1;
}

a {
    color: unset;
}

table {
    border: 1px solid $gray;
    border-collapse: collapse;

    thead {
        font-weight: bold;
    }

    td {
        padding: 8px;
        border: 1px solid $gray;
    }
}
