// Colors
$background-primary: #131313;
$background-secondary: #232323;
$foreground-primary: #f5fffa;
$foreground-secondary: #787976;
$accent-primary: #6495ed;
$accent-secondary: #9579e5;

// z-index
$z-1: 2;
$z-2: 4;
$z-3: 8;
$z-4: 16;
$z-5: 32;
$z-6: 64;

// Miscellaneous
$header-height: 64px;
$transition: all 0.2s ease-in-out;
